.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  background-color: #282c34;
  padding: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 210px;
  height: 500px;
  gap: 4rem;
  background-color: gray;
}

.img {
  display: flex;
  justify-content: center;
  
}

.img > img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.loading {
  height: 200px;
  text-align: center;
}